* {
  margin: 0;
  padding: 0;
}

.material-icons-outlined {
  font-size: 150%;
}

body {
  background-color: rgb(243, 243, 243);
}

h1 {
  margin-left: 1%;
  margin-bottom: 2%;
}

.container {
  margin-top: 3%;
  margin-left: 3%;
}

.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 5px;
  margin-top: 0.5%;
  width: 70%;
  margin-left: 10%;
  }



.item-1 {
  background: #494848;
  grid-area: 👩🏽 ;
  border-radius: 30px;
}
.item-2 {
  background: #494848;
  grid-area: 👗;
  border-radius: 30px;
}
.item-3 {
  background: #494848;
  grid-area: 👕;
  border-radius: 30px;
}
.item-4 {
  background: #494848;
  grid-area: 👡 ;
  border-radius: 30px;
}



/*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
  <path d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z"/>
</svg>*/


/*
.grid-1 {
  display: grid;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}






.grid-1 div {
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
}





.item-1 {
  background: #5c5b5b;
  grid-column: 1 / 3;
   grid-row: 1; 
}
.item-2 {
  background: #5c5b5b;
}
.item-3 {
  background: #5c5b5b;
}
.item-4 {
  background: #5c5b5b;
}
.item-5 {
  background: #5c5b5b;
}
.item-6 {
  background: #5c5b5b;
}
.item-7 {
  background: #5c5b5b;
}
.item-8 {
  background: #5c5b5b;
}
.item-9 {#5c5b5b;
}
